

    html {
        background: black;
        color: #73b3cc;
      }
      
      body {
        color: #73b3cc;
        font: 300 18px/1.6 "Source Sans Pro",sans-serif;
        margin: 0;
        padding: 5em 0 2em;
        text-align: center;
      }
      
      .calculator {
        font-size: 28px;
        margin: 0 auto;
        width: 10em;

      }
      #viewer {
        border: 1px solid #b49130;
      }
      .viewer {
        color: orange;
        line-height: 3em;
        text-align: right;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 10em;
        height: 3em;
      }
      
      button {
        border: 0;
        background: #73b3cc;
        color: white;
        cursor: pointer;
        float: left;
        font: inherit;
        margin: 0.25em;
        width: 2em;
        height: 2em;
      }